@charset "utf-8";
/* CSS Document */


body {
	background-color: black;
}


.white {
	font-size: 50px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 40%;
	text-align: center;
	
	
	
}

img {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
	height: auto;
	
}

.flexbox p {
	background-color: lightgray;
	font-size: 25px;
	margin-top: 70px;
	margin-right: 10px;
	margin-bottom: 70px;
	margin-left: 10px;
	text-align: center;
	width: 350px;
	height: 400px;
	text-align: center;
}

.flexbox {
	background-color: white;
	display: flex;
	flex-flow: nowrap;
	justify-content: space-around;
	align-items: flex-end;
	position: relative;
	top: 15em;
	
	
}