@charset "utf-8";
/* CSS Document */


body {
	background-color: black;
}


.white {
	font-size: 50px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 40%;
	text-align: center;
	
	
	
}

.logo_front {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 30%;
	height: auto;
	
}